/* styles for background */
.bg--green{
    color: white;
    background-color: #4CAF50;
}
.bg--blue{
    color: white;
    background-color: #2196F3;
}
.bg--red{
    color: white;
    background-color: #f44336;
}
.bg--grey{
    background-color: #f7f7f7;
}
.bg--img{
    &::before{
        position: absolute;
        content: "";
        filter: brightness(40%) ;
        background-image: url("../imgs/bg.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}