.card{
    text-align: center;
    padding: 20px;
    height: 100%;
    &--shadow{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border: none;
    }
    &--large{
        padding: 20px 50px;
    }
}