.content{
    width: calc(100% - 300px);
    position: absolute;
    top: 0;
    transform: translateY(100px);
    right: 0;
    z-index: 0;
    transition: all 0.3s;
    @mixin atMedium{
        width: 100%;
    }
}