.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
.row{
  margin: 20px 0;
  &--margin-onmedium{
    @mixin atMedium{
      margin: 10px 0;
    }
  }
}