.sidebar {
    width: 300px;
    position: fixed;
    top: 80px;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    background: white;
    text-align: center;
    z-index: 1;
    @mixin atMedium{
        transform: translateX(-300px);
    }
    &__invisible{
        transform: translateX(-300px);
    }
    box-shadow: 2px 0 6px 2px #ddd;
    &__user{
        margin: 0 0 20px 0;
        padding: 20px 0 10px 0;
        background: #f7f7f7;
    }
    &__list li{
        padding: 10px 0;
    }
    &__list li.active{
        background: #007bff;
    }
    &__list li.active a{
        color: white;
    }
    &__list li.active a:hover{
        color: white;
    }
    &__logo{
        height: 80px;
    }
}
.sidebar--visible{
    transform: translateX(0px);
}