.topbar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    &__header{
        line-height: 80px;
        position: relative;
        transform: translateX(150px);
        @mixin atMedium{
            transform: translateX(0px);
        }
    }
}