body{
    background: #f7f7f7;
    color: #666;
}
.no-padding{
    padding: 0 !important;
}
.logo, .show-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 3;
    @mixin atMedium{
        display: none;
    }
}
.show-sidebar{
    display: none;
    @mixin atMedium{
        display: inherit;
    }
    & i{
        transform: translate(50%,50%);
        margin-top: -40px;
    }
}
a:hover{
    text-decoration: none;
}
#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
#ui-id-1{
    z-index:99999;
}
.vertical-center{
    transform: translateY(50%);
}